body {
  padding: 0;
  background-image: url('/assets/img/bg.png')
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .navbar{
    height:50px; 
    background-image: url(/assets/img/bg.png);
  }
  .no-padding{
    padding: 0px;
  }

  .no-margin{
    padding: 0px;
  }

  .main-container{
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
  }

  .flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .height-100{
    height: 100%;
  }

  .width-100{
    width: 100%;
  }

  .logo{
    height: 80px;
    top: -10px;
    position: relative;
  }

  .privacy-page{
    color: #ccc;
    padding: 20px;
    border: 5px solid #cea93f;
    border-radius: 10px;
  }
}

.custom-navbar{
  color: white;
  font-weight: 500;
  margin-right: 20px;
}

.custom-navbar:hover{
  color: white;
}

.custom-navbar li .btn, .custom-navbar li .btn:hover {
  cursor:pointer;
  height: 40px;
  line-height: 40px;
  background-color: none;
  color: white
}

.dropdown-menu{
    background-color: #cccccc;
    border-radius: 0;
    color: #cea93f;
    border: none;
    box-shadow: none;
}

.dropdown-menu > li > a, .dropdown-menu > li > a:hover{
  color: #cea93f !important;
  background: none;
  text-align: right;
  cursor: pointer;
}

.dropdown-menu a:hover{
  font-weight: bold;
}


