
<nav class="navbar navbar-fixed-top" role="navigation">
        <!-- <a class="navbar-brand" href="/">Play Cabo</a> -->
        <span class="navbar-brand no-padding">
            <a href="/">
                <img class="logo" src="/assets/img/logo.png" style="height:80px;">
            </a>
    
        </span>
        <ul ng-show="isAuthenticated == true" class="nav navbar-nav navbar-right custom-navbar">
            <li><span class="btn">{{player.user.first_name}}</span> </li>
            <li><span ng-click="signOut()" class="btn"> Sign Out</span></li>
        </ul>
    </nav>
<div class="main-container" ng-contoller="GameroomCtrl">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 height-100" style="padding: 10px;">
        <div class="game-board">
            <div class="other-players">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 height-100">
                    <div ng-repeat="eachPlayer in otherPlayers" class="each-board">
                        <div class="col-md-2 height-100 text-center flex-container">

                            <img class="other-player-pic" src="{{eachPlayer.pic_url}}" alt="">
                            <span>{{eachPlayer.user.first_name}}</span>
                        </div>
                        <div class="col-md-10 height-100">
                            <div ng-click = "eachPlayer.uuid == targetPlayer && selectCard(eachCard, $index)" 
                            ng-class = "{'clickable' : enableSelectingCard && eachPlayer.uuid == targetPlayer}" 
                            ng-hide="gameStatus == 'not_started'" ng-repeat="eachCard in playerStatus[eachPlayer.uuid].cards track by $index" 
                            class="remote-card">
                                
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 height-100 deck-panel">
                    <div class="col-sm-12 no-padding flex-container" style="height: 50%">
                        <div ng-class = "{'clickable':myChance}" ng-hide="showPopedCard" ng-click="popCard()" class="card-on-deck" >

                        </div>
                        <div ng-classs ="{'clickable':myChance}" ng-click="popCard()" ng-show="showPopedCard" class="card-on-deck">
                            <img class="card-image" src="{{popedCard.image}}" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12 no-padding flex-container text-center" style="height: 50%">
                        <div class="card-on-deck">
                            <img ng-show = "lastPlayedCard" class = "card-image" src="{{lastPlayedCard.image}}">
                        </div>
                    </div>

                </div>
            </div>
            <div class="my-board">
                <div class = "col-xs-12 progress-bar-container">
                        <uib-progressbar class = "custom-progress-bar" max="15000" value="secondsRemaining" ></uib-progressbar>
                </div>
                <div class="col-md-10 height-100 no-padding">
                    <div ng-hide="gameStatus == 'not_started'" ng-click = "selectCard(eachCard, $index)" ng-class = "{'clickable' : enableSelectingCard || viewFirstCards}" class="my-card" ng-repeat="eachCard in playerCards track by $index"></div>
                </div>
                <div class = "col-md-2 height-100 flex-container" ng-show =  "callCaboTimerRunnning">
                    <button class="btn btn-primary" ng-click="skipCallCabo()">
                        Skip
                    </button>
                    <button class="btn btn-primary" ng-click="callCabo()">
                        Call Cabo
                    </button>
                </div>
                <div class="col-md-2 height-100 flex-container" ng-hide = "callCaboTimerRunnning">
                    <button ng-show="isPowerCard && popedCard" class="btn btn-primary" ng-click="useCard('usePower')">
                        Use Power
                    </button>
                    <button ng-show="popedCard" class="btn btn-primary" ng-click="useCard('swap')">
                        Swap Card
                    </button>
                    <button ng-show="popedCard" class="btn btn-primary" ng-click="useCard('throw')">
                        Throw Away
                    </button>
                    <button ng-show="gameStatus == 'not_started' && isOwner" class="btn btn-primary" ng-click="startGame()">Start
                        Game</button>
                </div>

            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 height-100">
        <div class= "col-xs-12 game-info-container">
            <div class="col-xs-12 text-center text-bold">
                Game Info
            </div>
            <div class="col-xs-12 no-padding">
                <span class = "text-left">Room ID :</span> <span class = "text-right">{{gameRoomData.room_number}}</span>
                <br>
                <span class = "text-left">Status : </span> 
                <span class = "text-right">{{gameStatusDict[gameStatus]}}</span>
                <span ng-if= "gameStatus == 'waiting_for_ready' && myChance" class = "text-right">Your Turn</span>
                <br>
                <span class = "text-left" ng-if="gameStatus == 'game_started' || gameStatus == 'cabo_called'">Current Player</span>
                <span class = "text-right" ng-if="gameStatus == 'game_started' || gameStatus == 'cabo_called'">
                    {{currentPlayerInfo.first_name}}
                </span>
            </div>
            <div class="col-xs-12 text-center text-bold new-section">
                    Players
            </div>
            <div class = "col-xs-12">

                    <div class = "row text-bold">
                        <span class = "text-left">Name</span>
                        <span class = "text-right">Score</span>
                    </div>
                    <div class = "row" ng-repeat = "eachPlayer in playerList">
                        <span class = "text-left">
                                {{eachPlayer.user.first_name}} {{eachPlayer.user.last_name}}
                        </span>
                        <span class = "text-right">
                                {{eachPlayer.points}}
                        </span>
                            
                    </div>
                </div>

            <div class="col-xs-12 text-center new-section">
                Events
            </div>
            <div class = "col-xs-12"></div>
        </div>
        
    </div>


</div>

<style>
    .game-board {
        height: 100%;
        width: 100%;
        border: 5px solid #cea93f;
        border-radius: 5px;
        background-color: #3fce3fa1;
        color: #ffffff;
    }

    .other-players {
        height: 60%;

        width: 100%;
    }

    .my-board {
        height: 40%;
        width: 100%;
        border-top: 3px solid white;
        padding: 5px 0px 15px 0px;
    }

    .controls {
        height: 10%;
        width: 100%;
    }

    .deck-panel {
        border-left: 3px solid white;
    }

    .each-board {
        height: 33%;
        float: left;
        width: 100%;
    }

    .remote-card {
        width: 12%;
        height: 90%;
        background-image: url(/assets/img/logo.png);
        float: left;
        border-radius: 10px;
        background-color: #f5deb3;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: 3px solid white;
        margin: 1%;
    }

    .card-on-deck {
        width: 50%;
        height: 90%;
        background-image: url(/assets/img/logo.png);
        float: left;
        border-radius: 10px;
        background-color: #f5deb3;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: 3px solid white;
        margin: 1%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .my-card {
        width: 15%;
        height: 100%;
        background-image: url(/assets/img/logo.png);
        float: left;
        margin: 0px 5px;
        border: 5px solid white;
        border-radius: 10px;
        background-color: #f5deb3;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .other-player-pic {
        height: 50px;
        border-radius: 50%;
        display: block;

        margin-left: auto;

        margin-right: auto;
    }

    .card-image {
        height: 100%;
        width: 100%;
    }

    .my-board .flex-container button {
        margin: 10px 0px;
    }

    .clickable{ 
        cursor: pointer;
    }

    .game-info-container{
        margin-top: 10px;
        border: 5px solid #cea93f;
        border-radius: 5px;
        background-color: #3fce3fa1;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .text-bold{
        font-weight: bold;
    }
    .text-left{
        float: left;
    }

    .text-right{
        float: right;
    }


    .new-section{
        margin-top:20px
    }

    .progress-bar-container{
        height: 5px;
        margin-bottom: 5px;
        
    }

    .custom-progress-bar{
        height: 5px;
        
    }

    .custom-progress-bar .progress-bar{
        background-color: #5b1680;
    }

</style>