
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class = "action-container text-center" ng-show="displayActions">
            
        <div class="welcome-text">
                <img class = "logo" src="/assets/img/logo.png" style="height:120px;">    
                <br>
            <div class = "h4">
                Welcome {{player.user.first_name}}, 
            </div>    
            <span class="h5" style="padding-top: 30px;">
                Create a new game to and invite your friends or join a game 
            </span>
            

        </div>
        <div class="col-md-6 ">
            <div ng-click="createGame()" class = "action-item btn btn-default flex-container">
                    Create Game
            </div>
            
        </div>
        <div class="col-md-6 ">
                <div ng-click = "toggleJoinRoom()" class = "action-item btn btn-default flex-container">
                        Join Game
                </div>
                
            </div>
    </div>
    <div class = "action-container text-center" ng-show="displayJoinRoom">
            <div class="welcome-text">
                    <img class = "logo" src="/assets/img/logo.png" style="height:120px;">    
                    <br>
                <div class = "h4">
                    Please enter the room ID
                </div> 
                <div class =  "col-md-12">
                    
                    <form action="">
                    
                        <div class="form-group">
                            <label class="sr-only" for="">label</label>
                            <input type="text" ng-model = "roomID" class="form-control" id="" placeholder="Room ID">
                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-6 ">
                    <div ng-click="toggleJoinRoom()" class = "action-item btn btn-default flex-container">
                            Cancel
                    </div>
                    
                </div>
                <div class="col-md-6 ">
                        <div ng-click = "joinRoom()" class = "action-item btn btn-success flex-container" ng-disabled = "roomID == '' || roomID.length != 8">
                                Continue
                        </div>
                        
                    </div>
            
        </div>
        
    </div>
</div>


<style>
    .action-container{
        
        height: 400px;
        width: 400px;
        margin: 100px auto;

        
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #cea93f;
    border-radius: 10px;
    }

    .welcome-text{
        margin: 20px 0px;
        color: white;
        padding : 0px 10px;
        height: 70%;
    }
    .action-item{
        cursor: pointer;
        border-radius: 5px;
        height: 50px;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }
</style>